body {
    margin: 0px;
    width: 100%;
    overflow-anchor: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ******************************************************** */
/* SideBar Style */
.leftSideBar,
.rightSideBar{
    margin-top: 56px;
    position: fixed;
    top: 0px;
    width: 60px;
    height: 100%;
    height: -webkit-fill-available;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(225deg, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(225deg, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.leftSideBar{
    left: 0px;
}
.rightSideBar{
    right: 0px;
}

.leftSideBar .allItem,
.rightSideBar .allItem,
.leftSideBar .slick-slider,
.rightSideBar .slick-slider{
    width: 50px;
    height: 100%;
    margin: auto;
}

.leftSideBar .slick-vertical .slick-slide,
.leftSideBar .slick-vertical .slick-slide img,
.rightSideBar .slick-vertical .slick-slide,
.rightSideBar .slick-vertical .slick-slide img{
    width: 50px !important;
    height: 242px !important;
}

/* ******************************************************** */
.allContent{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: auto;
    padding-bottom: 40px;
}

.allContent .slick-vertical .slick-slide{
    display: flex !important;
    justify-content: center;
}

.allContent .slick-track{
    padding-top: 120px !important;
}

.allContent .slick-list.draggable{
    height:1100px !important;
}

.header {
    width: 1820px !important;
    margin: auto;
    padding: 40px 0px 0px;
}

.mainSlider,.newWow {
    width: 1400px !important;
    height: 600px !important;
    margin: auto;
    border: 10px solid;
    box-shadow: 0px 0px 10px 4px #44adff;
    border-image-source: linear-gradient(to right, #2d71a7, #1d354a, #2396f3, #2d71a7);
    border-image-slice: 1;
    animation: fitShadow 1s ease-in-out infinite 0s forwards;
}

@keyframes fitShadow {
    0% {
        box-shadow: 0px 0px 10px 4px #44adff;
    }

    50% {
        box-shadow: 0px 0px 16px 8px #44adff;
    }

    100% {
        box-shadow: 0px 0px 10px 4px #44adff;
    }
}

.ws_images,
.newWow .ws_images{
    max-height: 600px !important;
    max-width: 1400px !important;
}

.item,
.newWow .item {
    position: relative;
}

.item .content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 1400px;
    height: 100% !important;
    display: block;
    object-fit: cover;
}

.item .content h1{
    font-size: 56px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
}

.item.active .content h1{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.6s;
}

.item.active .content h1.one{
    animation-name: bounceInLeft;
}

.item.active .content h1.two {
    animation-name: bounceInRight;
}

.item.active .content h1.three  {
    animation-name: rollIn;
}

.item.active .content h1.four {
    animation-name: fadeInDownBig;
}

.item.active .content h1.five {
    animation-name: tada;
}

/******************************Third Sliders**************************************/
.my-sliders {
    padding: 70px 0px 0px;
    display: flex;
    justify-content: center;
    width: 1820px !important;
    margin: auto;
}

.my-sliders .third-carousel {
    width: 560px !important;
    height: 360px !important;
    margin-right: 10px;
}

.my-sliders .third-carousel.last {
    margin-right: 0px;
}

.my-sliders .third-carousel .owl-stage-outer {
    border: 7px solid #009688;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 5px #009688;
    animation: flashShadow 1s ease-in-out 0s infinite forwards;
}

@keyframes flashShadow {
    0% {
        box-shadow: 0px 0px 10px 5px #009688;
    }

    50% {
        box-shadow: 0px 0px 5px 2.5px #009688;
    }

    100% {
        box-shadow: 0px 0px 10px 5px #009688;
    }
}

.my-sliders .third-carousel.copy1 .owl-stage-outer {
    border: 7px solid #673AB7;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 5px #673AB7;
    animation: flashShadowCopy 1s ease-in-out 0s infinite forwards;
}

@keyframes flashShadowCopy {
    0% {
        box-shadow: 0px 0px 10px 5px #673AB7;
    }

    50% {
        box-shadow: 0px 0px 5px 2.5px #673AB7;
    }

    100% {
        box-shadow: 0px 0px 10px 5px #673AB7;
    }
}

.my-sliders .third-carousel.copy2 .owl-stage-outer {
    border: 7px solid #f39914;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 5px #f39914;
    animation: flashShadowCopy2 1s ease-in-out 0s infinite forwards;
}

@keyframes flashShadowCopy2 {
    0% {
        box-shadow: 0px 0px 10px 5px #f39914;
    }

    50% {
        box-shadow: 0px 0px 5px 2.5px #f39914;
    }

    100% {
        box-shadow: 0px 0px 10px 5px #f39914;
    }
}


.my-sliders .my-slider .owl-carousel .item {
    position: relative;
    width: 560px !important;
    height: 360px !important;
}

.my-sliders .my-slider .owl-carousel .item img {
    width: 560px !important;
    height: 360px !important;
}

.my-sliders .my-slider .owl-carousel .item .cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 27, 27, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.my-sliders .my-slider .owl-item.active h3 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

.my-sliders .my-slider .owl-item.active h3.one {
    animation-name: fadeInLeftBig;
}

.my-sliders .my-slider .owl-item.active h3.two {
    animation-name: fadeInRightBig;
}

.my-sliders .my-slider .owl-item.active h3.three {
    animation-name: fadeInDownBig;
}

.my-sliders .my-slider .owl-item.active h3.four {
    animation-name: fadeInUpBig;
}

.my-sliders .my-slider .owl-item.active h3.five {
    animation-name: rotateIn;
}

.my-sliders .my-slider .owl-item.active h3.six {
    animation-name: rotateInUpLeft;
}

.my-sliders .my-slider .owl-item.active h3.seven {
    animation-name: rotateInUpRight;
}

.my-sliders .my-slider .owl-item.active h3.eight {
    animation-name: rollIn;
}

.my-sliders .my-slider .owl-item.active h3.nine {
    animation-name: fadeInDownBig;
}

@media(max-width: 991.99px) {
    .my-sliders .my-slider {
        margin-bottom: 30px;
    }
}

/******************************Last Sliders**************************************/
.last-sliders {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    width: 1820px !important;
    margin: auto;
}

.last-sliders .fourth-carousel {
    width: 360px !important;
    height: 560px !important;
    margin-right: 10px;
}

.last-sliders .fourth-carousel.last {
    margin-right: 0px;
}

.last-sliders .fourth-carousel .owl-stage-outer {
    border: 7px solid #4CAF50;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 5px #4CAF50;
    animation: lastFlashShadow 1s ease-in-out 0s infinite forwards;
}

@keyframes lastFlashShadow {
    0% {
        box-shadow: 0px 0px 10px 5px #4CAF50;
    }

    50% {
        box-shadow: 0px 0px 5px 2.5px #4CAF50;
    }

    100% {
        box-shadow: 0px 0px 10px 5px #4CAF50;
    }
}

.last-sliders .fourth-carousel.copy41 .owl-stage-outer {
    border: 7px solid #9E9E9E;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 5px #9E9E9E;
    animation: lastFlashShadowCopy1 1s ease-in-out 0s infinite forwards;
}

@keyframes lastFlashShadowCopy1 {
    0% {
        box-shadow: 0px 0px 10px 5px #9E9E9E;
    }

    50% {
        box-shadow: 0px 0px 5px 2.5px #9E9E9E;
    }

    100% {
        box-shadow: 0px 0px 10px 5px #9E9E9E;
    }
}

.last-sliders .fourth-carousel.copy42 .owl-stage-outer {
    border: 5px solid #607D8B;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 5px #607D8B;
    animation: lastFlashShadowCopy2 1s ease-in-out 0s infinite forwards;
}

@keyframes lastFlashShadowCopy2 {
    0% {
        box-shadow: 0px 0px 10px 5px #607D8B;
    }

    50% {
        box-shadow: 0px 0px 5px 2.5px #607D8B;
    }

    100% {
        box-shadow: 0px 0px 10px 5px #607D8B;
    }
}


.last-sliders .last-slider .owl-carousel .item {
    position: relative;
    width: 360px !important;
    height: 560px !important;
}

.last-sliders .last-slider .owl-carousel .item img {
    width: 360px !important;
    height: 560px !important;
}

.last-sliders .last-slider .owl-carousel .item .cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 150, 37, 0.226);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px;
}

.owl-carousel button.owl-dot {
    border: 1px;
    outline: none;
    padding: 7px !important;
    background: #4caf50;
    border-radius: 50%;
    margin-right: 7px;
}

.owl-carousel button.owl-dot.active {
    background: #f12c1e;
}

.last-sliders .last-slider .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

.last-sliders .last-slider .owl-item.active h4.one {
    animation-name: fadeInTopLeft;
}

.last-sliders .last-slider .owl-item.active h4.two {
    animation-name: fadeInRightBig;
}

.last-sliders .last-slider .owl-item.active h4.three {
    animation-name: bounceInDown;
}

.last-sliders .last-slider .owl-item.active h4.four {
    animation-name: fadeInTopRight;
}

.last-sliders .last-slider .owl-item.active h4.five {
    animation-name: rotateIn;
}

.last-sliders .last-slider .owl-item.active h4.six {
    animation-name: rotateInUpLeft;
}

.last-sliders .last-slider .owl-item.active h4.seven {
    animation-name: fadeInBottomLeft;
}

.last-sliders .last-slider .owl-item.active h4.eight {
    animation-name: rollIn;
}

.last-sliders .last-slider .owl-item.active h4.nine {
    animation-name: fadeInDown;
}

.last-sliders .last-slider .owl-item.active h4.ten {
    animation-name: fadeInBottomRight;
}

.last-sliders .last-slider .owl-item.active h4.eleven {
    animation-name: fadeInDownBig;
}

.last-sliders .last-slider .owl-item.active h4.twelve {
    animation-name: flipInX;
}

@media(max-width: 991.99px) {
    .last-sliders .last-slider {
        margin-bottom: 30px;
    }
}

/************************************* Nice Scroll Style *********************************************/
.nicescroll-rails {
    z-index: 20000 !important;
}

.nicescroll-rails div {
    border: 1px solid #4caf50 !important;
}

@media(max-width: 767.99px) {
    .nicescroll-rails {
        width: 10px !important;
    }

    .nicescroll-rails div {
        width: 10px !important;
    }
}

/************************************* Responsive **************************************/
/* Extra large screen */

@media(min-width: 1200px){
    .allContent{
        width: 1820px !important;
    }
}

/* large screen */
@media(min-width: 991.99px) and (max-width: 1199px) {
    .mySlick.slick-initialized.slick-slider.slick-vertical{
        z-index: 1000;
    }
    .allContent .slick-track{
        width: 980px !important;
    }

    /* large slider */
    .header {
        width: 980px !important;
    }

    .mainSlider,
    .newWow {
        width: 950px !important;
        height: 600px !important;
    }

    .ws_images {
        max-height: 600px !important;
        max-width: 950px !important;
    }

    .item img {
        width: 950px;
    }

    .item .content h1 {
        font-size: 50px;
    }

    /* 3 slider on row */
    .my-sliders {
        width: 980px !important;
    }

    .my-sliders .third-carousel {
        width: 300px !important;
        height: 300px !important;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .my-sliders .my-slider .owl-carousel .item {
        position: relative;
        width: 300px !important;
        height: 300px !important;
    }

    .my-sliders .my-slider .owl-carousel .item img {
        width: 300px !important;
        height: 300px !important;
    }

    /* 4 slider on row */
    .last-sliders {
        width: 980px !important;
    }

    .last-sliders .fourth-carousel {
        width: 230px !important;
        height: 360px !important;
        margin-right: 10px;
    }

    .last-sliders .last-slider .owl-carousel .item {
        position: relative;
        width: 230px !important;
        height: 360px !important;
    }

    .last-sliders .last-slider .owl-carousel .item img {
        width: 230px !important;
        height: 360px !important;
    }
}

/* Medium screen */
@media(min-width: 768px) and (max-width: 991px) {
    .mySlick.slick-initialized.slick-slider.slick-vertical{
        z-index: 1000;
    }
    .allContent .slick-track{
        width: 760px !important;
    }
    /* large slider */
    .header {
        width: 760px !important;
    }

    .mainSlider,
    .newWow {
        width: 740px !important;
        height: 400px !important;
    }

    .ws_images {
        max-height: 400px !important;
        max-width: 740px !important;
    }

    .item img {
        width: 740px;
    }

    .item .content h1 {
        font-size: 50px;
    }

    /* 3 slider on row */
    .my-sliders {
        width: 760px !important;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .my-sliders .third-carousel {
        width: 360px !important;
        height: 300px !important;
    }

    .my-sliders .my-slider .owl-carousel .item {
        position: relative;
        width: 360px !important;
        height: 300px !important;
    }

    .my-sliders .my-slider .owl-carousel .item img {
        width: 360px !important;
        height: 300px !important;
    }

    /* 4 slider on row */
    .last-sliders {
        width: 760px !important;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .last-sliders .fourth-carousel {
        width: 340px !important;
        height: 400px !important;
    }

    .last-sliders .last-slider .owl-carousel .item {
        position: relative;
        width: 340px !important;
        height: 400px !important;
    }

    .last-sliders .last-slider .owl-carousel .item img {
        width: 340px !important;
        height: 400px !important;
    }
}

/* small screen */
@media(min-width: 574.99px) and (max-width: 767.99px) {
    .mySlick.slick-initialized.slick-slider.slick-vertical{
        z-index: 1000;
    }
    .allContent .slick-track{
        width: 574px !important;
    }
    /* large slider */
    .header {
        width: 574px !important;
    }

    .mainSlider,
    .newWow {
        display: block !important; 
        width: 540px !important;
        height: 420px !important;
    }

    .mainSlider .ws_images,
    .newWow .ws_images  {
        max-width: 540px !important;
        max-height: 420px !important;
    }

    .item img {
        width: 540px;
        height: 420px;
    }

    .item .content h1 {
        font-size: 50px;
    }

    /* 3 slider on row */
    .my-sliders {
        width: 574px !important;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .my-sliders .third-carousel {
        width: 500px !important;
        height: 300px !important;
    }

    .my-sliders .my-slider .owl-carousel .item {
        position: relative;
        width: 500px !important;
        height: 300px !important;
    }

    .my-sliders .my-slider .owl-carousel .item img {
        width: 500px !important;
        height: 300px !important;
    }

    /* 4 slider on row */
    .last-sliders {
        width: 574px !important;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .last-sliders .fourth-carousel {
        width: 380px !important;
        height: 440px !important;
    }

    .last-sliders .last-slider .owl-carousel .item {
        position: relative;
        width: 380px !important;
        height: 440px !important;
    }

    .last-sliders .last-slider .owl-carousel .item img {
        width: 380px !important;
        height: 440px !important;
    }
}

/* xsmall screen */
@media(max-width: 574.99px) {
    .mySlick.slick-initialized.slick-slider.slick-vertical{
        z-index: 1000;
    }
    .allContent .slick-track{
        width: 320px !important;
    }
    /* large slider */
    .header {
        width: 320px !important;
    }

    .mainSlider,
    .newWow{
        display: block !important; 
        width: 300px !important;
        height: 420px !important;
    }

    .mainSlider .ws_images,
    .newWow .ws_images{
        max-width: 300px !important;
        max-height: 420px !important;
    }

    .item img{
        width: 300px !important;
        height: 420px !important;
    }

    .item .content h1{
        font-size: 30px;
    }

    /* 3 slider on row */
    .my-sliders {
        width: 320px !important;
        justify-content: center;
        flex-wrap: wrap;
    }

    .my-sliders .third-carousel {
        width: 290px !important;
        height: 280px !important;
    }

    .my-sliders .my-slider .owl-carousel .item {
        width: 290px !important;
        height: 280px !important;
    }

    .my-sliders .my-slider .owl-carousel .item img {
        width: 290px !important;
        height: 280px !important;
    }

    /* 4 slider on row */
    .last-sliders {
        width: 320px !important;
        justify-content: center;
        flex-wrap: wrap;
    }

    .last-sliders .fourth-carousel {
        width: 280px !important;
        height: 400px !important;
    }

    .last-sliders .last-slider .owl-carousel .item {
        position: relative;
        width: 280px !important;
        height: 400px !important;
    }

    .last-sliders .last-slider .owl-carousel .item img {
        width: 280px !important;
        height: 400px !important;
    }
}